node_modules
**/node_modules
packages/api/dist
packages/api/.tsup
.env
terraform.tfstate
terraform.tfstate.backup
infra/terraform/tfplan*
terraform.tfvars
terraform.tfvars.sample
infra/terraform/.terraform
infra/terraform/dist
.serena
